# Dependencies
node_modules
yarn-debug.log*
yarn-error.log*
package-lock.json

# Next.js
.next
out

# Environment files
.env*.local
.env

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output

# Misc
*.log
.cache
